    <form class="form border p-5 bg-light"> 
        
     <h1>Envia-nos mensagem, que a gente respodne</h1>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="descricao" class="form-label">Descricao:</label>
    <textarea id="descricao" class="form-control"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
   