<div class="card mb-3 mt-5" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="~/img/download.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Computador Ryzen BOOK</h5>
        <p class="card-text">O melhor computador</p>
        
      </div>
    </div>
  </div>
</div>