    <form class="form border p-5 bg-light"> 
        
     <h1>Trabalhe conosco, envie seu curriculo</h1>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="curriculo" class="form-label">Curriculo:</label>
    <input type="file" class="form-control" id="curriculo">
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
   